version: "3.9"

services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/opt/zookeeper-3.4.13/data

  kafka:
    image: wurstmeister/kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_CREATE_TOPICS: "events:1:1"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data/kafka:/kafka    

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: batman
      MYSQL_USER: gautam
      MYSQL_PASSWORD: Passw0rd
    ports:
      - "3307:3306"    
    volumes:
      - ./data/database:/var/lib/mysql

  receiver:
    build:
      context: ./receiver
      dockerfile: Dockerfile
    depends_on:
      - kafka
    ports:
      - "8080:8080"
    volumes:
      - ./config/receiver:/app/config
      - ./logs/receiver:/app/logs

  storage:
    build:
      context: ./storage
      dockerfile: Dockerfile
    depends_on:
      - db
      - kafka
    ports:
      - "8090:8090"
    volumes:
      - ./config/storage:/app/config
      - ./logs/storage:/app/logs

  processing:
    build:
      context: ./processing
      dockerfile: Dockerfile
    depends_on:
      - storage
    ports:
      - "8100:8100"
    volumes:
      - ./config/processing:/app/config
      - ./logs/processing:/app/logs
      - ./data/processing:/app/data   

  analyzer:
    build:
      context: ./analyzer
      dockerfile: Dockerfile
    depends_on:
      - kafka
    ports:
      - "8110:8110"
    volumes:
      - ./config/analyzer:/app/config
      - ./logs/analyzer:/app/logs

volumes:
  zookeeper_data: