body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#main {
    width: 70vw;
    margin: 0 auto;
    font-size: larger;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#statistics, #analyzer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

#statistics > div, #analyzer > div {
    border: 1px solid grey;
    padding: 1em;
}

#message {
    display: none;
    background-color: #ccc;
    border: 1px solid orange;
    padding: 1em;
}


.error-message {
    background-color: #fee;
    border: 2px solid #c33;
    padding: 1em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    text-align: left;
}

.error-message code {
    display: block;
    margin-top: 0.5em;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 3px;
}